<!--
  Generated template for the ReportProfitPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar primary no-border-bottom>
    <ion-title style="text-align: center">利润表</ion-title>
    <ion-buttons end>
      <button  (click)="popHome()">
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


  <ion-toolbar [attr.primary]="isAndroid ? '' : null" no-border-top>
    <ion-segment [(ngModel)]="typeList" [attr.primary]="isAndroid ? '' : null">
      <ion-segment-button value="class" (ionSelect)="selectedClass()">
        分类
      </ion-segment-button>
      <ion-segment-button value="month" (ionSelect)="selectedMonth()">
        月度
      </ion-segment-button>
      <ion-segment-button value="quater" (ionSelect)="selectedQuater()">
        季度
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <div [ngSwitch]="typeList">

    <ion-item>
      <ion-label>选择日期</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="myDate"
                    monthNames="一月,二月,三月,四月,五月,六月,七月,八月,九月,十月,十一月,十二月"
                    monthShortNames="一月,二月,三月,四月,五月,六月,七月,八月,九月,十月,十一月,十二月"
                    cancelText="取消"
                    doneText="确定">
      </ion-datetime>
    </ion-item>

    <ion-list *ngSwitchCase="'class'">
      <ion-item *ngFor="let item of classList">
        <ion-row>
          <ion-col width-50 style="font-size: 9px; text-align: left;">{{item.name}}</ion-col>
          <ion-col width-25 style="font-size: 9px; text-align: center; color: green">{{item.sum}}</ion-col>
          <ion-col width-25 style="font-size: 9px; text-align: right;">{{item.percent}}</ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'month'">
      <ion-item *ngFor="let item of monthList">
        <ion-row>
          <ion-col width-50 style="font-size: 9px; text-align: left;">{{item.date}}</ion-col>
          <ion-col width-25 style="font-size: 9px; text-align: center; color: green">{{item.sum}}</ion-col>
          <ion-col width-25 style="font-size: 9px; text-align: right;">{{item.percent}}</ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'quater'">
      <ion-item *ngFor="let item of quaterList">
        <ion-row>
          <ion-col width-50 style="font-size: 9px; text-align: left;">{{item.date}}</ion-col>
          <ion-col width-25 style="font-size: 9px; text-align: center; color: green">{{item.sum}}</ion-col>
          <ion-col width-25 style="font-size: 9px; text-align: right;">{{item.percent}}</ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>

  <div style="height:5px;width:100%;background-color: #8f8f8f"></div>

</ion-content>

<ion-footer>
  <div [hidden]="!isValidClass">
    <ion-label item-left text-left>分类总计：￥{{totalSum}}</ion-label>
  </div>
  <div [hidden]="!isValidMonth">
    <ion-label item-left text-left>月总计：￥{{totalSumMonth}}</ion-label>
  </div>
  <div [hidden]="!isValidQuater">
    <ion-label item-left text-left>季度总计：￥{{totalSumMonth}}</ion-label>
  </div>
</ion-footer>
