<!--
  Generated template for the ReportProfitPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar primary no-border-bottom>
    <ion-title style="text-align: center">利润表</ion-title>
    <ion-buttons end>
      <button royal (click)="popHome()">
        <ion-icon name="ios-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="appType">
      <ion-segment-button value="Paid">
        Paid
      </ion-segment-button>
      <ion-segment-button value="Free">
        Free
      </ion-segment-button>
      <ion-segment-button value="Top">
        Top
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <ion-content class="outer-content">
    <ion-list>
      <ion-list-header>{{ appType }}</ion-list-header>
      <ion-item *ngFor="let item of getItems(appType)">
        {{ item.name }}
        <button ion-button outline item-right>{{ item.price }}</button>
      </ion-item>
    </ion-list>

    <ion-card>
      <ion-card-header>
        {{ safari }}
      </ion-card-header>
      <ion-card-content>
        <ion-segment [(ngModel)]="safari" color="dark">
          <ion-segment-button value="Bookmarks">
            <ion-icon name="book"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="Reading List">
            <ion-icon ios="ios-glasses-outline" md="md-glasses"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="Shared Links">
            <ion-icon ios="ios-at-outline" md="md-at"></ion-icon>
          </ion-segment-button>
        </ion-segment>
        <ion-list style="margin: 0" inset>
          <button ion-item *ngFor="let sItem of getSafariItems(safari)">
            <ion-icon item-left [name]="sItem.icon" color="primary"></ion-icon>
            {{ sItem.name }}
          </button>
        </ion-list>
      </ion-card-content>
    </ion-card>

</ion-content>


<ion-footer>
  <ion-toolbar no-border-bottom>
    <ion-title>
      Weather: {{ weather == 'sunny' ? '96' : '77' }}°
      <ion-icon [name]="weather" color="danger"></ion-icon>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar no-border-top no-border-bottom>
    <ion-segment [(ngModel)]="weather" color="danger">
      <ion-segment-button value="sunny">
        Sunny
      </ion-segment-button>
      <ion-segment-button value="rainy" checked>
        Rainy
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>

