.contract-goodslist {
  ion-row {
    //height: 100%;
    //flex-wrap: wrap;
  }
  ion-col div {
    //background-color: #F9FAFB;
    //border: 1px solid #ddd;
    padding: 3px;
    border-radius: 2px;
    text-align: center;
    height:120px;
  }


  .slide-zoom {
    height: 100%;
  }
  .fab-tang {
    position: relative;
  }


}
.price-strong {
  font-size: 1.7rem;
  color: #06c1ae;
}

[padding] h1:first-child,
[padding] h2:first-child,
[padding] h3:first-child,
[padding] h4:first-child,
[padding] h5:first-child,
[padding] h6:first-child {
  margin-top: 0rem; }
