.login {
  ion-row {
    height: 100%;
    flex-wrap: wrap;
  }

  ion-col div {
    //background-color: #F9FAFB;
    //border: 1px solid #ddd;
    padding: 3px;
    border-radius: 2px;
    text-align: center;
    height:120px;
  }

  ion-item h2 {
    font-size:2.2rem;
  }

  slide-zoom {
    height: 100%;
  }

}
.label-demo .mobile1, .label-demo .mobile2 {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.label-demo .mobile1 {
  right: 35px;
}
